<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @traveller.email %>
</p>

<p>
  <b>Firstname:</b>
  <%= @traveller.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @traveller.lastname %>
</p>


<%= link_to 'Edit', edit_traveller_path(@traveller) %> |
<%= link_to 'Back', travellers_path %>
