<% provide(:title, 'profile') %>
<h1><%= @traveller.fullname %></h1>
<p>
  <b>Email:</b>
  <%= @traveller.email %>
</p>


<% if @traveller.id == @current_user.id || @current_user.admin? %>
<%= link_to 'Edit', edit_traveller_path(@traveller) %>
| <%= link_to 'Delete Account', @traveller, method: :put, data: { confirm: 'Are you sure?' } %>
<% end %>
<% if @current_user.admin? %>
| <%= link_to 'Travellers', travellers_path %>
<% end %>
