<% provide(:title, 'profile') %>

<p>
  <b>Email:</b>
  <%= @traveller.email %>
</p>

<p>
  <b>Firstname:</b>
  <%= @traveller.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @traveller.lastname %>
</p>


<%= link_to 'Edit', edit_traveller_path(@traveller) %>
<% if @current_user.admin %>
| <%= link_to 'Travellers', travellers_path %>
<% end %>
